*~
*.gpg
.DS_Store
.AppleDouble
certs/*
vim/spell
vim/bundle
vim/colors
gnupg/*
gnupg/random_seed
*.gpg
s3cfg
*/*.elc
irssi/*.log
e/snippets/*/.yas-compiled-snippets.el
mutt/aliases
emacs.d/custom.el
*/*.autosave
*.pyc
