*.gpg
*.pyc
*/*.autosave
*/*.elc
*~
.AppleDouble
.DS_Store
certs/*
e/snippets/*/.yas-compiled-snippets.el
emacs.d/custom.el
gnupg/*
gnupg/random_seed
irssi/*.log
mutt/aliases
mutt/cache
openconfig/oc-path-list.*
openconfig/*.csv
s3cfg
