# botwerks / home network ssh configurations

host dyn.botwerks.net
  Hostname        dyn.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  ~/.ssh/known_hosts

# arista switch running on the home network
host a7280-ma1
  Hostname        10.0.0.235

host flightradar24 fr24
  Hostname 10.0.0.241
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  ~/.ssh/known_hosts

Host a7280-ma1
  HostName 10.0.0.235
  User     admin

host oscar oscar.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes

# use oscar as an occasional SOCKS proxy. useful when visiting draconian
# countries with censorship rules
Host botsocks
  HostName        oscar.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  DynamicForward  8080

# tunnel access to snuffles
Host home-tunnel
  HostName        dyn.botwerks.net
  LocalForward    127.0.0.2:139 10.0.0.243:139
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes

Match Host snuffles Exec "ipconfig getifaddr en0 | egrep -q '^10\.(10|0)\.'"
  HostName        snuffles.local.
  AddressFamily   inet
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  # force direct connection, no proxy - this is important
  ProxyCommand none

# snuffles: remote access
Host snuffles
  HostName        snuffles.local.
  ProxyJump       dyn.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  ~/.ssh/known_hosts

# host krypton - local network
Match Host krypton Exec "ipconfig getifaddr en0 | egrep -q '^10\.(10|0)\.'"
  HostName 10.0.0.244
  LocalForward 18789 localhost:18789
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  # force direct connection, no proxy - this is important
  ProxyCommand none

# jump through dyn.botwerks.net when remote
Host krypton
  HostName 10.0.0.244
  ProxyJump dyn.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  LocalForward 18789 localhost:18789

Match Host bert Exec "ipconfig getifaddr en0 | egrep -q '^10\.(10|0)\.'"
  HostName        10.0.0.248
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  # force direct connection, no proxy - this is important
  ProxyCommand none

# bert: remote access
Host bert
  HostName        10.0.0.248
  ProxyJump       dyn.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes

## duluth specific configurations
Match Host duluth Exec "ipconfig getifaddr en0 | egrep '^10.(10|0).'"
  HostName        10.10.0.254
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  Port            22
  UserKnownHostsFile  ~/.ssh/known_hosts

Match Host nitrox Exec "ipconfig getifaddr en0 | egrep '^10.(10|0).'"
  HostName        10.10.0.254
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  ~/.ssh/known_hosts

# custom url used for personal github repos
Host github-sulrich
  HostName github.com
  User git
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-botwerks.pub
  IdentityFile ~/.ssh/sulrich-blink.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

Host 3.*.*.*
  User ubuntu
  AddKeysToAgent yes
  IdentityFile ~/.ssh/nanog-vm.pub
  IdentitiesOnly  yes

Host *.amazonaws.com
  User ubuntu
  AddKeysToAgent yes
  IdentityFile ~/.ssh/n94-hackathon.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  /dev/null

# hosts on the home network(s)
host 10.0.0.*
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  ForwardAgent    yes
  UserKnownHostsFile  ~/.ssh/known_hosts

# hosts on the home network(s)
host 10.10.0.*
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  ForwardAgent    yes
  UserKnownHostsFile  ~/.ssh/known_hosts

Host *.botwerks.net
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  ForwardAgent    yes
  UserKnownHostsFile  ~/.ssh/known_hosts

Host fe80::*
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes

Host 2605:8400:4002::*
  IdentityFile    ~/.ssh/sulrich-botwerks.pub
  IdentitiesOnly  yes
  UserKnownHostsFile  ~/.ssh/known_hosts
