# $DAYJOB specific config
Host usschq*
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

Host ts*.internal.nexthop.ai
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

Host cs*.internal.nexthop.ai
  HostKeyAlgorithms +ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa

Host 10.120.*.*
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

Host *.nexthop.ai
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

# custom url used for nexthop github repos
Host github.com
  HostName github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes

# multipass vm for testing, etc.
Host sulrich-dev-vm.local.
  StrictHostKeyChecking  no
  IdentityFile    ~/.ssh/sulrich-nexthop.pub
  UserKnownHostsFile     /dev/null
  IdentitiesOnly  yes
  ForwardAgent    yes

# multipass hosts
Host 192.168.*.*
  IdentityFile    ~/.ssh/sulrich-nexthop.pub
  IdentitiesOnly  yes
  ForwardAgent    yes
